
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        {% for melon in melons %}
            <tr>
                <th>{{ melon.common_name }}</th>
                <th>{{ melon.quantity }}</th>
                <th>{{ melon.price_str() }}</th>
                <th>{{ melon.total_price_str() }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Total: {{ total }}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
